extends layout
block content
  include header.pug
  h1= title
  p Welcome to kahootbirds #{title} coffee shop
  include navbar.pug

  p DASHBOARD
  style(type='text/css').
            .h1 {
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
             }

  br
  |
  p
   okzz

   p This is the dashboard
    include footer.pug
