<!DOCTYPE html>
<html>
<head>
  <style>
    .green_rectangle
    {
      background-color: #00ff00
    }
    </style>

  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">

    <input v-model="message" placeholder="edit me">
<p>Message is: {{ message }}</p>

  <!--
  <div v-if="post" class="content">

  <h2>{{ post.title }}</h2>
  <p>{{ post.body }}</p>
  </div>
-->
<ul id="example-1">
  <li v-for="item in items" :key="item.message">
    {{ item.message }}
  </li>
</ul>

<div class="green_rectangle">
  GREEN RECT
  </div>

<ul id="post-msgs">
  <li v-for="item in posts" :key="item.post">

    {{ item }}

  </li>
</ul>


POSTS: </br>
    <div class="post2"
    v-for="(post,index) in posts"
    v-bind:item="post"
    >
        <p class="text"> {{post.text}} </p>
      </div>



  </div>
<!--
    <script>
      console.log("FETCHING:")
      var datas
      //fetch('https://reqres.in/api/users')
      fetch('http://localhost:3000/api')
      //    .then(res => console.log(res))
      .then(res => res.json())
      .then(data => setdatas(data))
      function setdatas(data)
      {
        datas = data
        console.log(datas)
      }

      //document.getElementById("post2").innerHTML = "OKZ"
-->
      </script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
      /*
              items: [
            { message: 'Foo' },
            { message: 'Bar' }
          ]
          */
          aa: "test",
          posts: ["dpost1","dpost2","dpost3"],
          post1: "p1",
          post2: "p2",
          post3: "p3"


        },
        methods: {
          change_msg: function (event) {

            app.message = "NEW MSG"
            console.log(app.aa)
            alert(app.aa)
          },
          call_fetch: function(event){
              console.log("FETCHING:")
              var datas
              //fetch('https://reqres.in/api/users')
              fetch('http://localhost:3000/api')
              //    .then(res => console.log(res))
              .then(res => res.json())
              .then(data => setdatas(data))
              function setdatas(data)
              {
                datas = data
                console.log(datas)
                //alert(datas.post2)
                post1 = datas.post
                post2 = datas.post2
                post3 = datas.post3
                app.posts = [datas.post,datas.post2,datas.post3]
                //app.posts.push("")
                console.log("END SETDATAS")
                app.update_dom()
              }
              console.log("END CALLFETCH")
              //document.getElementById("post2").innerHTML = "OKZ"

          },
          update_dom: function(event)
          {
            console.log("updated")
          }
            }
          }
    )
    console.log("calling msg change")
    app.change_msg()
    app.call_fetch()

  </script>
</body>
</html>
