
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    body text

</br>
Submited data (if any)
</br>
<%= post %>
<%= author %>
</br>

<form action="/api">
  <label for="author">Author:</label><br>
  <input type="text" id="author" name="author" value=""><br>

  <label for="post">post:</label><br>
  <input type="text" id="post" name="post" value=""><br><br>
  <input type="submit" value="Submit">
</form>


  </body>
</html>
