<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">

    <input v-model="message" placeholder="edit me">
<p>Message is: {{ message }}</p>
  </br>

<!--
POSTS: </br>
    <div class="post2"
    v-for="(post,index) in posts"
    v-bind:item="post"
    >
        <p class="text"> {{post.text}} </p>
      </div>
-->



  </div>

    <script>
      console.log("FETCHING:")
      var datas
      //fetch('https://reqres.in/api/users')
      fetch('http://localhost:3000/api')
      //    .then(res => console.log(res))
      .then(res => res.json())
      .then(data => setdatas(data))
      function setdatas(data)
      {
        datas = data
        console.log(datas)
      }
      var post2 = "OKZZ"
      //document.getElementById("post2").innerHTML = "OKZ"

      </script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
  </script>
</body>
</html>
