<!doctype html>
<html>
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


  <style>
    .green_rectangle
    {
      background-color: #00ff00
    }

    div.a {
  text-align: center;
}

    </style>

  <title>My first Vue app</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app">

</br>
<center>
  <h1>Mini Message Board App </h1>
</center>


  <div v-for="(item,index) in posts" :key="item.post" id="post-msgs" class="a">
    <div class="container-fluid">
      <div class="card mb-3" style="background-color: #40bf40;">
        <div class="container" style="text-align: left">
        <button class="btn btn-success" v-on:click="delete_post(index)">X</button>
        </div>
      <div class="row no-gutters">


          <div class="card-body">
            <p class="card-text">
              <h1>
              Author: {{ authors[index]}}
             </br>
               {{ item }}
            </h1>
            </p>

        </div>
      </div>
    </div>
    </div>
  </div>




  <center>
  <p>Enter new message to post (up to 3)</p>


  <input v-model="msg1" placeholder="Author" id="author" ref="my_input" maxlength="20">
  <input v-model="msg2" placeholder="Post" id="post" ref="msg2" maxlength="20">
  </br>

  <button class="btn btn-success" onclick="app.item_submitted()"> Submit </button>
   </br>
  </center>
      <div class="post2"
      v-for="(post,index) in posts"
      v-bind:item="post">

          <p class="text"> {{post.text }} </p>
        </div>








  </div>

  </script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',

          aa: "test",
          msg1: [],
          msg2: [],



          posts: ["","",""],
          authors: ["","",""],
          post1: "p1",
          post2: "p2",

          id_delete_array_index: [],
          post3: "p3"


        },
        methods: {
          change_msg: function (event) {
            console.log(app.aa)
          },
          delete_post: function(index)
          {
            console.log("INDEX" + index)
            console.log('/api?post=' + '&type=2&id=' + (index))
            //console.log("DELETE THIS AUTHOR")
            fetch('/api?post=1&type=2&id=' + (id_delete_array_index[index]))
            //app.posts.splice(index,1)
            //app.posts = app.posts
              setTimeout(function(){app.call_fetch()},1200)
          },
          item_submitted: function(){
          //When submit button is clicked
            let a = document.getElementById("author").value
            let p = document.getElementById("post").value
            console.log(a + p)
            console.log("FETCHING:")
            var datas
            //fetch('https://reqres.in/api/users')
            fetch('/api?post=' + a + '&author=' + p + '&type=0')
            //    .then(res => console.log(res))
            //.then(res => res.json())
            //.then(data => setdatas(data))
            console.log("SET TIMEOUT")
            setTimeout(function(){app.call_fetch()},1200)
            //app.call_fetch()
            /*
            function setdatas(data)
            {
              datas = data
              console.log(datas)
              //alert(datas.post2)
              post1 = datas.post
              post2 = datas.post2
              post3 = datas.post3
              app.posts = [datas.post,datas.post2,datas.post3]
              //app.posts.push("")
              console.log("END SETDATAS")
            }
            */
            //console.log("END CALLFETCH")


            //Call fetch
            //app.call_fetch()
            //After finished, reload authors table display

          },

          call_fetch: function(event){
              console.log("CALL_FETCH:")
              var datas
              //fetch('https://reqres.in/api/users')
              fetch('api?post=p&author=a&type=1')
              //    .then(res => console.log(res))
              .then(res => res.json())
              .then(data => setdatas(data))
              function setdatas(data)
              {
                datas = data
                console.log(datas)
                //alert(datas.post2)
                var a = "Author: "
                var p = "Post: "
                id_delete_array_index = []
                /*
                if (data.post != null)
                id_delete_array_index.push(0)
                if (data.post2 != null)
                id_delete_array_index.push(1)
                if (data.post3 != null)
                id_delete_array_index.push(2)
                */
                id_delete_array_index = [datas.id1,datas.id2,datas.id3]
                app.authors = [datas.post,datas.post2,datas.post3]
                //app.authors = ["1","2","3"]
                console.log("IDS:" + id_delete_array_index)
                if (data.post == null)
                {
                    app.posts = []
                }
                else if (data.post2 == null)
                {
                    app.posts = [(p+datas.author)]
                }
                else if (data.post3 == null)
                {
                  app.posts = [(p+datas.author),(p+datas.author2)]
                }
                else {
                  app.posts = [(p+datas.author),(p+datas.author2),(p+datas.author3)]
                }
                //app.posts = ["OK","OK2","OK3"]
                //app.posts.push("")

                console.log("END SETDATAS")
              }
              console.log("END CALLFETCH")

          },

            }
          }
    )
    console.log("calling msg change")
    app.change_msg()
    setTimeout(function(){app.call_fetch()},1200)

  </script>
</body>
</html>
