<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">

    {{ message }}
    <input v-model="message" placeholder="edit me">
<p>Message is: {{ message }}</p>
  </br>
  <div v-if="post" class="content">
  <h2>{{ post.title }}</h2>
  <p>{{ post.body }}</p>
  </div>
  <script>
    console.log("FETCHING:")
    fetch('http://localhost:3000/api')
        .then(res => console.log(res))
    //.then(res => res.json())
    //.then(data => console.log(data))
    </script>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
  </script>
</body>
</html>
