extends layout
block content
  include header.pug
  h1= title
  p Welcome to kahootbirds #{title} coffee shop
    include navbar.pug
  p STORE

  .container
    div(class='h1' id="h1")
      img(src='images/coffeeshop2.png')
      h2 item1forsale
    div(class='h1' id="h1")
      img(src='images/coffeeshop2.png')
      h2 item2forsale

  p This is the dashboard
    include footer.pug
